# Tuple

In [16]:
t = ("Norway", 4.953, 3)
print(t)
print(t[0])
print(f"length is {len(t)}")
for item in t:
    print(item)

print(t + (38923.32, "new items"))
print(f"repeated tuple: {t * 3}")

num = (123)
tup = (123,)
print(f"number {type(num)} vs typle {type(tup)}")

emptyTuple = ()
parens_can_be_ommited = 1, 2, 3, 4

a = "first"
b = "second"
a, b = b, a
print(f"a is {a}, b is {b}")

print(3 in t)

('Norway', 4.953, 3)
Norway
length is 3
Norway
4.953
3
('Norway', 4.953, 3, 38923.32, 'new items')
repeated tuple: ('Norway', 4.953, 3, 'Norway', 4.953, 3, 'Norway', 4.953, 3)
number <class 'int'> vs typle <class 'tuple'>
a is second, b is first
True

# Strings

## Prefer string.join over + to avoid creation of temporary strings

In [18]:
worse = "ab" + "cd" + "efg"
better = "".join(["ab", "cd", "efg"])
print(worse, better)

abcdefg abcdefg

## partitoining

In [20]:
print("unforgetable".partition('forget'))
departure, _, arrival = "Kansas City:New York".partition(":")
print(f"Departure from {departure}, arrival at {arrival}")

('un', 'forget', 'able')
Departure from Kansas City, arrival at New York

## format

In [28]:
print("The age of {0} is {1}".format('Jim', 32))
print("The age of {0} is {1}. {0}'s birthday is on {2}".format('Fred', 24, 'October 31'))
print("Current position {latitude} {longitude}".format(latitude="60N", longitude="5E"))
print("Galactic position x={pos[0]}, y={pos[1]}, z={pos[2]}".format(pos=(65.2, 23.1, 82.2)))
import math
print("Math constants: {m.pi}, {m.e}".format(m=math))
print("Math constants: {m.pi:.3f}, {m.e:.3f}".format(m=math))

#interpolation
print(f"Math constants: {math.pi:.3f}, {math.e:.3f}")

The age of Jim is 32
The age of Fred is 24. Fred's birthday is on October 31
Current position 60N 5E
Galactic position x=65.2, y=23.1, z=82.2
Math constants: 3.141592653589793, 2.718281828459045
Math constants: 3.142, 2.718
Math constants: 3.142, 2.718

# Ranges

In [31]:
print(list(range(5)))
print(list(range(5,10)))
print(list(range(5, 10, 2)))

for i, v in enumerate(range(3)):
    print(f"index is {i}, value is {v}")

[0, 1, 2, 3, 4]
[5, 6, 7, 8, 9]
[5, 7, 9]
index is 0, value is 0
index is 1, value is 1
index is 2, value is 2

# Lists

In [38]:
s = [3, 186, 4431, 74440, 1048443]
print(s)
print(f"first: {s[0]}, last: {s[-1]}, be careful with negative zero: s[0] == s[-0] is {s[0] == s[-0]}")
print(s[1:-1])
copy = s[:]
print(id(s) == id(copy))
copy2 = s.copy()
copy3 = list(s)

[3, 186, 4431, 74440, 1048443]
first: 3, last: 1048443, be careful with negative zero: s[0] == s[-0] is True
[186, 4431, 74440]
False
[3, 186, 4431, 74440, 1048443]

# Dictionaries

In [41]:
from pprint import pprint as pp
d0 = {"key1": [1, 2, 3], "key2": 232}
pp(d0)
d1 = dict(key1='value1', key2='value2')
pp(d1)
d2 = dict([(1, "one"), (2, "two")])
pp(d2)

{'key1': [1, 2, 3], 'key2': 232}
{'key1': 'value1', 'key2': 'value2'}
{1: 'one', 2: 'two'}

# Sets

In [46]:
duplicates = [1, 2, 3] * 3
print(duplicates)
s = set(duplicates)
print(s)

k = {5, 7}
k.add(7)
print(k)
k.update([1, 2, 3, 4, 5, 6, 7, 8])
print(k)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
{1, 2, 3}
{5, 7}
{1, 2, 3, 4, 5, 6, 7, 8}